html, body{
  background-color: #202020;
  color: #fff;
  font-family: sans-serif;
}

a{
  color: #56d6fc;
}

.image{
  width: calc(100% / 4);
}

#footer{
  width: 100%;
  height: 40px;
  background-color: #303030;
  margin-top: 1px;

  display: flex;
  align-items: center;
}

.footer_content{
  padding-left: 20px;
}


